In [2]:
  import pandas as pd

In [5]:
df = pd.read_csv('New_Merge_Data_Comment.csv')

In [14]:
df = df[df['Class'] != 'Miscellaneous']

In [16]:
df

,VideoID,Comment,Class
5,8mAITcNt710,poor man wear mask,Negative
6,8mAITcNt710,free dawg,Positive
9,8mAITcNt710,wow never knew would actually learn free onlin...,Positive
10,8mAITcNt710,insane free thing watch online,Positive
11,8mAITcNt710,theoretical course practical also start course...,Positive
...,...,...,...
190030,raos5cz4Fgc,family watching race live screaming like max c...,Imperative
190039,raos5cz4Fgc,love max oversteering last corner shows confid...,Positive
190045,raos5cz4Fgc,ok next years hope better,Positive
190053,raos5cz4Fgc,best moment whole life,Positive
190055,raos5cz4Fgc,got ta love seeing ham fanboys cry almost week...,Positive

In [17]:
df.to_csv('final.csv', index=False)

In [33]:
tokenized = df['Comment'].apply(lambda x: x.split())

In [34]:
tokenized.head()

5                               [poor, man, wear, mask]
6                                          [free, dawg]
9     [wow, never, knew, would, actually, learn, fre...
10                 [insane, free, thing, watch, online]
11    [theoretical, course, practical, also, start, ...
Name: Comment, dtype: object

In [35]:
from nltk.stem import WordNetLemmatizer
from nltk.corpus import stopwords

In [36]:
import nltk
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\dhruv\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [37]:
wnl = WordNetLemmatizer()

In [38]:
tokenized.apply(lambda x: [wnl.lemmatize(i) for i in x if i not in set(stopwords.words('english'))]) 
tokenized.head()

5                               [poor, man, wear, mask]
6                                          [free, dawg]
9     [wow, never, knew, would, actually, learn, fre...
10                 [insane, free, thing, watch, online]
11    [theoretical, course, practical, also, start, ...
Name: Comment, dtype: object

In [42]:
for i, tweet in tokenized.items():
    tokenized[i] = ' '.join(tweet)

In [43]:
tokenized

5                                        poor man wear mask
6                                                 free dawg
9         wow never knew would actually learn free onlin...
10                           insane free thing watch online
11        theoretical course practical also start course...
                                ...
190030    family watching race live screaming like max c...
190039    love max oversteering last corner shows confid...
190045                            ok next years hope better
190053                               best moment whole life
190055    got ta love seeing ham fanboys cry almost week...
Name: Comment, Length: 68718, dtype: object

In [46]:
df.loc[:, 'Comment'] = tokenized

In [45]:
df

,VideoID,Comment,Class
5,8mAITcNt710,poor man wear mask,Negative
6,8mAITcNt710,free dawg,Positive
9,8mAITcNt710,wow never knew would actually learn free onlin...,Positive
10,8mAITcNt710,insane free thing watch online,Positive
11,8mAITcNt710,theoretical course practical also start course...,Positive
...,...,...,...
190030,raos5cz4Fgc,family watching race live screaming like max c...,Imperative
190039,raos5cz4Fgc,love max oversteering last corner shows confid...,Positive
190045,raos5cz4Fgc,ok next years hope better,Positive
190053,raos5cz4Fgc,best moment whole life,Positive
190055,raos5cz4Fgc,got ta love seeing ham fanboys cry almost week...,Positive

In [47]:
df.to_csv('final_tokenized.csv', index=False)